*,*::before,*::after{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
}
body{
    background-color: hsl(30, 38%, 92%) ;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.container{
    position: relative;
    max-width: 50em;
    max-height: 40em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    overflow: hidden;
}
.container img{
    max-height: 46em;
    max-width: 25em;
}
.rightbox{
    justify-content: space-around;
    align-items: start;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 3.2em;
}
.rightbox .perfume{

    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    min-width: 32%;
    font-size: 14px;
    letter-spacing: 10px;
    margin-bottom: -60px;

}
.rightbox .title{
    font-family:'Fraunces', serif; ;
    font-weight: 700;
    color:hsl(212, 21%, 14%);
    font-size: 45px;
    /* max-height: 4em; */
    max-width: 81%;
    /* border: solid; */
}
.rightbox .para{
    color: hsl(228, 12%, 48%);
    margin-top: -40px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    max-width: 78%;
    font-weight: 500;
    min-height: 9em;
    line-height: 1.5em;
}
.pricing{

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60%;
    margin-top: -90px;
    font-family:'Fraunces', serif; ;

}
.pricing h1{
    font-weight: 700;
    color: hsl(158, 36%, 37%);

}
.pricing p{
    color:hsl(228, 12%, 48%);
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    min-width: 79%;
    margin-top: -60px;
    padding: 17px;
    border: none;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    gap: 1em;
    background-color:  hsl(158, 36%, 37%);
    color: white;



}